language: c
env:
  - TRAVIS_PYTHON_VERSION=2.7
  - TRAVIS_PYTHON_VERSION=3.6
os:
  - linux
  - osx
jobs:
  include:
    - stage: galaxy
      env:
        - TESTGALAXY="1"
        - TRAVIS_PYTHON_VERSION=2.7

# Setup anaconda
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" ]] ; then pip install virtualenv --user ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" ]] ; then virtualenv foo; source foo/bin/activate; pip install planemo ; deactivate ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -o miniconda.sh ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "3.6" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -o miniconda.sh ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" && "$TRAVIS_PYTHON_VERSION" == "2.7" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh -o miniconda.sh ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" && "$TRAVIS_PYTHON_VERSION" == "3.6" ]] ; then curl https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -o miniconda.sh ; fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda

  # Useful for debugging any issues with conda
  - conda info -a

# Install packages
install:
  - conda install --yes -c conda-forge -c bioconda python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib==2.1.0 nose flake8 plotly==2.0.12 pysam==0.13.0 pyBigWig py2bit cython
  - pip uninstall -y pysam && CFLAGS="-I/home/travis/miniconda/include" pip install git+https://github.com/pysam-developers/pysam
  - python setup.py install

# command to run tests
script:
  - if [[ ${TESTGALAXY:-"2"} == "2" ]] ; then flake8 . --exclude=.venv,.build,foo,build,deeptoolsintervals/__init__.py --ignore=E501,F403,E402,F999,F405,E722 ; fi
  - if [[ ${TESTGALAXY:-"2"} == "2" ]] ; then export owd=`pwd` ; fi
  - if [[ ${TESTGALAXY:-"2"} == "2" ]] ; then cd deeptools/test/test_data && nosetests --ignore-files="testskip_.+py" --with-doctest -sv deeptools ; fi
  - if [[ ${TESTGALAXY:-"2"} == "2" ]] ; then nosetests --ignore-files="testskip_.+py" --with-doctest -sv deeptoolsintervals ; fi
  - if [[ ${TESTGALAXY:-"2"} == "2" ]] ; then cd ${owd} ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" && ${TESTGALAXY:-"0"} == "1" ]] ; then /home/travis/build/deeptools/deepTools/foo/bin/planemo lint galaxy/wrapper/ ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_PYTHON_VERSION" == "2.7" && ${TESTGALAXY:-"0"} == "1" ]] ; then ./.planemo.sh ; fi
sudo: false

services:
  - postgresql
