include *.txt
include README.md
include deeptools/config/deeptools.cfg
include docs/manual/*
include examples/*
include galaxy/*.xml
include galaxy/tool-data/*
include galaxy_test_data/*
include scripts/*
