[external_tools]
sort: sort
samtools: samtools
bedgraph_to_bigwig: bedGraphToBigWig
# used for bigwigCompare
bigwig_info: bigWigInfo

[general]
# if set to max/2 (no quotes around)
# half the available processors will
# be used
default_proc_number: max/2
test_root: ../deeptools/test/
