[external_tools]
sort: /bin/sort
samtools: /package/samtools/samtools
bedgraph_to_bigwig: /package/UCSCtools/bedGraphToBigWig
# used for bigwigCompare
bigwig_info: /package/UCSCtools/bigWigInfo

[general]
# if set to max/2 (no quotes around)
# half the available processors will
# be used
default_proc_number: max/2
test_root: /data/projects/ramirez/tools/deepTools/deeptools/test/
